@font-face {
  font-family: "poppinsRegular";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppinsMedium";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "poppinsBold";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "senRegular";
  src: url("./assets/fonts/Sen/static/Sen-Regular.ttf");
}
@font-face {
  font-family: "senMedium";
  src: url("./assets/fonts/Sen/static/Sen-Medium.ttf");
}
@font-face {
  font-family: "senBold";
  src: url("./assets/fonts/Sen/static/Sen-Bold.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  // overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 0.6vw;
  padding: 0.6vw 2vw;
  margin-right: 2vw;
  background-color: #fafafa;
  transition: all 0.2s ease;
  font-family: "poppinsRegular";
  cursor: pointer;
  display: flex;
  font-size: 1.2vw;
  color: black;
  align-items: center;
  justify-content: center;
  .icon {
    font-size: 1.2vw;
    margin: 0 0.2vw;
  }
}
button:hover {
  transform: scale(1.1);
}
