#Home {
  // padding: 0vw 12vw;
  header {
    background-color: black;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8vw 6vw;
    height: 30vw;
    .row {
      h1 {
        font-size: 5.5vw;
        font-family: "senBold";
        color: #fafafa;
      }
    }
    .row:nth-child(2) {
      display: flex;
      margin-left: auto;
      margin-top: 2.5vw;
    }
  }
  .blogs {
    .cards {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 3vw 0;
      .card {
        // border: 1px solid black;
        transition: all 0.2s ease;
        width: 75vw;
        margin: 1vw 0;
        cursor: pointer;
        border-radius: 2vw;
        display: flex;
        box-shadow: 10px 10px 50px -28px rgba(0, 0, 0, 0.51);
        overflow: hidden;

        .blog-img {
          height: 18vw;
          width: 20vw;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        .details {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: space-around;
          padding: 1vw 1vw;
          padding-left: 2vw;
          .row {
            display: flex;
            align-items: center;
            // padding: 0.2vw 0;
            p {
              font-family: "senBold";
              width: 10vw;
              font-size: 2vw;
            }
            span {
              width: 2vw;
              font-family: "poppinsRegular";
            }
            h1 {
              font-family: "senRegular";
              font-size: 1.4vw;
              color: gray;
            }
          }
        }
      }
      .card:hover {
        box-shadow: 10px 10px 100px -28px rgba(0, 0, 0, 0.51);
        transform: scale(1.04);
      }
    }
  }
}
